<div class="text-center">
<h1 class="display-4">You Are An Admin</h1>
<a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/Location/Cities/Index">Cities</a>
<br />
<a class="btn btn-light mb-3 w-50 fw-bold" asp-page="">Citizens</a>
<br />
    <a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/Organization/Index">Organizations</a>
<br />
<a class="btn btn-light mb-3 w-50 fw-bold" asp-page="">Employees</a>
<br />
<a class="btn btn-light mb-3 w-50 fw-bold" asp-page="">Requests</a>
</div>