@using DPMOPS.Services.UserClaim
@inject IUserClaimService userClaimService
@{
    var userType = userClaimService.ResolveUserType(User);
}

@if (userType == Enums.UserType.Admin)
{
    <!--Admin-->
    <li class="nav-item">
        <a asp-page="/Location/Cities/Index" class="nav-link">
            <i class="bi bi-geo-fill"></i>
            <p>المدن</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Organization/Index" class="nav-link">
            <i class="bi bi-building"></i>
            <p>المؤسسات</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Employees" class="nav-link">
            <i class="bi bi-person-workspace"></i>
            <p>الموظفين</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Citizens" class="nav-link">
            <i class="bi bi-person-fill"></i>
            <p>المواطنين</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Index" class="nav-link">
            <i class="bi bi-tools"></i>
            <p>الطلبات</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Index" class="nav-link">
            <i class="bi bi-person-gear"></i>
            <p>إدارة الحسابات</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Analytics/Index" class="nav-link">
            <i class="bi bi-graph-up-arrow"></i>
            <p>الإحصائيات</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Public" class="nav-link">
            <i class="bi bi-megaphone"></i>
            <p>الطلبات العامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Map" class="nav-link">
            <i class="bi bi-map-fill"></i>
            <p>الخريطة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Complaints/Index" class="nav-link">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <p>الشكاوي</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Profile" class="nav-link">
            <i class="bi bi-chat-left-quote"></i>
            <p>التعليقات</p>
        </a>
    </li>
}
else if (userType == Enums.UserType.OrgAdmin)
{
    <!--Organization Admin-->
    <li class="nav-item">
        <a class="nav-link">
            <i class="bi bi-tools"></i>
            <p>
                الطلبات
                <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="All" class="nav-link">
                    <i class="bi bi-journals"></i>
                    <p>الكل</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="Pending" class="nav-link">
                    <i class="bi bi-hourglass-bottom"></i>
                    <p>قيد الانتظار</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="Accepted" class="nav-link">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    <p>المقبولة</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="InProgress" class="nav-link">
                    <i class="bi bi-gear-fill"></i>
                    <p>قيد العمل</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="Completed" class="nav-link">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>المكتملة</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="Suspended" class="nav-link">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <p>المعلقة</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByOrg" asp-route-category="Denied" class="nav-link">
                    <i class="bi bi-x-octagon-fill"></i>
                    <p>المرفوضة</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a asp-page="/Organization/Employees/Index" asp-route-id="@User.Claims.FirstOrDefault(c => c.Type == "OrganizationId")?.Value" class="nav-link">
            <i class="bi bi-person-workspace"></i>
            <p>الموظفين</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Analytics/Index" class="nav-link">
            <i class="bi bi-graph-up-arrow"></i>
            <p>الإحصائيات</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Public" class="nav-link">
            <i class="bi bi-megaphone"></i>
            <p>الطلبات العامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Map" class="nav-link">
            <i class="bi bi-map-fill"></i>
            <p>الخريطة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Complaints/Index" class="nav-link">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <p>الشكاوي</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Calendar/Index" class="nav-link">
            <i class="bi bi-calendar-week"></i>
            <p>الروزنامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Profile" class="nav-link">
            <i class="bi bi-chat-left-quote"></i>
            <p>التعليقات</p>
        </a>
    </li>
}
else if (userType == Enums.UserType.Employee)
{
    <!--Employee-->
    <li class="nav-item">
        <a class="nav-link">
            <i class="bi bi-tools"></i>
            <p>
                طلباتك
                <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByEmp" asp-route-category="All" class="nav-link">
                    <i class="bi bi-journals"></i>
                    <p>الكل</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByEmp" asp-route-category="Accepted" class="nav-link">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    <p>المقبولة</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByEmp" asp-route-category="InProgress" class="nav-link">
                    <i class="bi bi-gear-fill"></i>
                    <p>قيد العمل</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByEmp" asp-route-category="Completed" class="nav-link">
                    <i class="bi bi-check-circle-fill"></i>
                    <p>المكتملة</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByEmp" asp-route-category="Suspended" class="nav-link">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <p>المعلقة</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ServiceRequest/ByEmp" asp-route-category="Denied" class="nav-link">
                    <i class="bi bi-x-octagon-fill"></i>
                    <p>المرفوضة</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Public" class="nav-link">
            <i class="bi bi-megaphone"></i>
            <p>الطلبات العامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Map" class="nav-link">
            <i class="bi bi-map-fill"></i>
            <p>الخريطة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Analytics/Index" class="nav-link">
            <i class="bi bi-graph-up-arrow"></i>
            <p>الإحصائيات</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Calendar/Index" class="nav-link">
            <i class="bi bi-calendar-week"></i>
            <p>الروزنامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Profile" class="nav-link">
            <i class="bi bi-chat-left-quote"></i>
            <p>التعليقات</p>
        </a>
    </li>
}
else if (userType == Enums.UserType.Citizen)
{
    <!--Citizen-->
    <li class="nav-item">
        <a class="nav-link">
                <i class="bi bi-tools"></i>
                <p>
                    طلباتك
                    <i class="nav-arrow bi bi-chevron-right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="All" class="nav-link">
                        <i class="bi bi-journals"></i>
                        <p>الكل</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="Pending" class="nav-link">
                        <i class="bi bi-hourglass-bottom"></i>
                        <p>قيد الانتظار</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="Accepted" class="nav-link">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <p>المقبولة</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="InProgress" class="nav-link">
                        <i class="bi bi-gear-fill"></i>
                        <p>قيد العمل</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="Completed" class="nav-link">
                        <i class="bi bi-check-circle-fill"></i>
                        <p>المكتملة</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="Suspended" class="nav-link">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <p>المعلقة</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-page="/ServiceRequest/ByCitizen" asp-route-category="Denied" class="nav-link">
                        <i class="bi bi-x-octagon-fill"></i>
                        <p>المرفوضة</p>
                    </a>
                </li>
            </ul>
        </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Public" asp-route-category="Explore" class="nav-link">
            <i class="bi bi-megaphone"></i>
            <p>الطلبات العامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Map" class="nav-link">
            <i class="bi bi-map-fill"></i>
            <p>الخريطة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Calendar/Index" class="nav-link">
            <i class="bi bi-calendar-week"></i>
            <p>الروزنامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Complaints/Index" class="nav-link">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <p>الشكاوي</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/Accounts/Profile" class="nav-link">
            <i class="bi bi-chat-left-quote"></i>
            <p>التعليقات</p>
        </a>
    </li>
}
else if (userType == Enums.UserType.Unauthenticated)
{
    <!--Unauthenticated-->
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Public" class="nav-link">
            <i class="bi bi-megaphone"></i>
            <p>الطلبات العامة</p>
        </a>
    </li>
    <li class="nav-item">
        <a asp-page="/ServiceRequest/Map" class="nav-link">
            <i class="bi bi-map-fill"></i>
            <p>الخريطة</p>
        </a>
    </li>
}

<!--Theme Switcher-->
<div class="theme-toggle">
    <input type="checkbox" class="checkbox-theme" id="themeToggleCheckbox">
    <label for="themeToggleCheckbox" class="checkbox-label">
        <i class="bi bi-moon-fill moon-icon"></i>
        <i class="bi bi-sun-fill sun-icon"></i>
        <span class="ball"></span>
    </label>
</div>

