@if (User.Claims.FirstOrDefault(x => x.Type == "IsAdmin")?.Value != null)
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Location/Cities/Index">Cities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/ServiceTypes/Index">ServiceTypes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Citizens/Index">Citizens</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/ServiceProvider/Index">ServiceProviders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Employees/AllEmployees">Employees</a>
    </li>
}