@if (User.Claims.FirstOrDefault(x => x.Type == "IsAdmin")?.Value != null)
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/Location/Cities/Index">Cities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="">Citizens</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Organization/Index">Organization</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="">Employees</a>
    </li>    
    <li class="nav-item">
        <a class="nav-link" asp-page="">Requests</a>
    </li>
}