@using DPMOPS.Models
@inject SignInManager<ApplicationUser> SignInManager

@if (User.Claims.FirstOrDefault(x => x.Type == "IsAdmin")?.Value != null)
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/Location/Cities/Index">المدن</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Organization/Index">المؤسسات</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/Accounts/Employees">الموظفين</a>
    </li>    
    <li class="nav-item">
        <a class="nav-link" asp-page="/Accounts/Citizens">المواطنين</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/ServiceRequest/Index">الطلبات</a>
    </li>
}
@if (SignInManager.IsSignedIn(User) && User.Claims.FirstOrDefault(x => x.Type == "IsAdmin")?.Value == null)
{
    <li class="nav-item">
        <a class="nav-link" asp-page="/Calendar/Index"><i class="bi bi-calendar-week"></i></a>
    </li>
}