@page "{id}"
@model DPMOPS.Pages.ServiceProvider.DeleteServiceProviderModel
@{
    ViewData["Title"] = "Delete service provider";
}

<h2>Delete Confirmation</h2>
<div class="alert alert-danger">
    Are you sure you want to delete the service provider "@Model.SpDto.ProviderName"?
    All the service and report requests associated with it will be deleted too!
</div>

<form method="post">
    <input type="hidden" asp-for="spId" value="@Model.SpDto.ServiceProviderId" />
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a asp-page="/ServiceProvider/Index" class="btn btn-secondary">Cancel</a>
</form>
