:root {
    --default-dot-color: #0d6efd;
    --dead-dot-color: dimgrey;
    --current-dot-color: #0d6efd;
    --success-dot-color: #198754;
    --warning-dot-color: #ffc107;
    --danger-dot-color: #dc3545;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: dimgrey;
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

.dot-label {
    position: absolute;
    top: 55px;
}

.dot i {
    font-size: 21px;
    color: #212529;
}

.first-dot {
    right: 0;
}

.first-dot-label {
    right: 0;
}

.second-dot {
    right: 33%;
}

.second-dot-label{
    right: 33.5%;
}

.third-dot {
    right: 66%;
}

.third-dot-label {
    right: 66%;
}

.fourth-dot {
    right: 100%;
}

.fourth-dot-label {
    right: 100%
}

.prog-box {
    position: relative;
    padding-top: 20px;
    min-height: 15vh;
}

.progress{
    height: 10px;
}

.hide{
    display: none;
}

.middle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}