html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.object-fit-cover {
    object-fit: cover;
}

.card-custom-bg {
    background-color: #343a40;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thumbnail-img {
    width: 100px;
    height: 75px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Kufi Arabic';
    src: url('/fonts/NotoKufiArabic/NotoKufiArabic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


body {
    font-family: 'Noto Kufi Arabic', sans-serif;
}