@page
@model DPMOPS.Pages.Location.Districts.AddDistrictModel
@{
    ViewData["Title"] = "Add a district";
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-4">
    <form asp-page="AddDistrict">
        <div class="form-floating mb-3">
            <select asp-for="DistrictDto.CityId" asp-items="Model.CityOptions" class="form-select">
                <option value=" "> </option>
            </select>
            <label asp-for="DistrictDto.CityId" class="control-label"></label>
            <span asp-validation-for="DistrictDto.CityId" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="DistrictDto.Name" class="form-control" placeholder="Name" />
            <label asp-for="DistrictDto.Name"></label>
            <span asp-validation-for="DistrictDto.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
        </div>
    </form>
</div>