@page "{id}"
@model DPMOPS.Pages.Location.Districts.DeleteDistrictModel
@{
    ViewData["Title"] = "حذف المنطقة";
}

<h2>تأكيد الحذف</h2>
<div class="alert alert-danger">
    هل انت متأكد من حذف @Model.District.Name؟
</div>

<form method="post">
    <input type="hidden" asp-for="districtId" value="@Model.District.DistrictId" />
    <button type="submit" class="btn btn-danger">متأكد</button>
    <a asp-page="/Location/Districts/Index" asp-route-cityId="@Model.District.CityId" class="btn btn-secondary">الإلغاء</a>
</form>