@page "{id}"
@model DPMOPS.Pages.Location.Districts.EditDistrictModel
@{
    ViewData["Title"] = "تعديل معلومات المنطقة";
}

<div class="col-md-4">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <form asp-page="EditDistrict">
        <div class="form-floating mb-3">
            <select asp-for="DistrictUpdateDto.CityId" asp-items="Model.CityOptions" class="form-select">
                <option value=" "> </option>
            </select>
            <label asp-for="DistrictUpdateDto.CityId" class="control-label"></label>
            <span asp-validation-for="DistrictUpdateDto.CityId" class="text-danger"></span>
        </div>        
        <div class="form-floating mb-3">
            <input asp-for="DistrictUpdateDto.Name" class="form-control" placeholder="Name" value="@Model.DistrictDto.Name" />
            <label asp-for="DistrictUpdateDto.Name"></label>
            <span asp-validation-for="DistrictUpdateDto.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">تعديل</button>
    </form>
</div>