@page "{id}"
@model DPMOPS.Pages.Organization.EditModel
@{
    ViewData["Title"] = "تعديل معلومات المؤسسة";
}


<div class="col-md-4">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <form asp-page="Edit">
        <div class="form-floating mb-3">
            <input asp-for="OrgUpdateDto.Name" class="form-control" placeholder="Name" value="@Model.OrgDto.Name" />
            <label asp-for="OrgUpdateDto.Name"></label>
            <span asp-validation-for="OrgUpdateDto.Name" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">تعديل</button>
    </form>
</div>