@page
@model DPMOPS.Pages.ServiceRequest.AddModel
@{
    ViewData["Title"] = "إضافة طلب خدمة";
}

<div class="container py-2">
    <h2 class="fw-bold mb-4 text-center">@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
            <div class="card border rounded-3 shadow-sm" style="background-color: #343a40;">
                <div class="card-body p-4">
                    <form asp-page="Add" enctype="multipart/form-data" class="row">
                        <div class="col-12">
                            <div class="form-floating mb-4">
                                <input asp-for="SrDto.Title" class="form-control" placeholder="Title" />
                                <label asp-for="SrDto.Title"></label>
                                <span asp-validation-for="SrDto.Title" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-4">
                                <textarea asp-for="SrDto.Description" class="form-control" placeholder="Description" style="height: 100px;"></textarea>
                                <label asp-for="SrDto.Description"></label>
                                <span asp-validation-for="SrDto.Description" class="text-danger"></span>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-items="Model.CityOptions" class="form-select" id="citySelect">
                                            <option value=" "> </option>
                                        </select>
                                        <label class="control-label">المدينة</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3 mt-md-0">
                                    <div class="form-floating">
                                        <select asp-for="SrDto.DistrictId" asp-items="Model.DistrictOptions" class="form-select" id="districtSelect" disabled>
                                            <option value=" "> </option>
                                        </select>
                                        <label asp-for="SrDto.DistrictId" class="control-label"></label>
                                        <span asp-validation-for="SrDto.DistrictId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="SrDto.OrganizationId" asp-items="Model.OrganizationOptions" class="form-select" id="orgSelect" disabled>
                                            <option value=" "> </option>
                                        </select>
                                        <label asp-for="SrDto.OrganizationId" class="control-label"></label>
                                        <span asp-validation-for="SrDto.OrganizationId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3 mt-md-0">
                                    <div class="form-floating">
                                        <input asp-for="SrDto.LocDescription" class="form-control" placeholder="Location Description" />
                                        <label asp-for="SrDto.LocDescription"></label>
                                        <span asp-validation-for="SrDto.LocDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <input type="file" class="form-control" asp-for="Photo" placeholder="Select Photo" />
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>

                            <!-- Hidden fields to store coordinates -->
                            <input asp-for="SrDto.Latitude" id="latitude" type="hidden" readonly/>
                            <input asp-for="SrDto.Longitude" id="longitude" type="hidden" readonly/>
                            <div class="mb-4 text-center">
                                <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#mapModal" id="selectLocation">
                                    <i class="bi bi-geo"></i>
                                    اختر الموقع على الخريطة
                                </button>
                            </div>

                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100">إضافة</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>


<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">اختر الموقع</h5>
                <button type="button" class="btn-close position-absolute top-0 start-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map" style="height: 400px;"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/dropdown.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="~/js/mapSelect.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
}