@page
@model DPMOPS.Pages.ServiceRequest.AddRequestModel
@{
    ViewData["Title"] = "Add a service request";
}

<div class="col-md-4">
    <form asp-page="AddRequest">
        <div class="form-floating mb-3">
            <input asp-for="SrDto.Title" class="form-control" placeholder="Title" />
            <label asp-for="SrDto.Title"></label>
            <span asp-validation-for="SrDto.Title" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="SrDto.Description" class="form-control" placeholder="Description" />
            <label asp-for="SrDto.Description"></label>
            <span asp-validation-for="SrDto.Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label class="control-label">Type:</label>
            <select asp-for="ServiceTypeId" asp-items="Model.ServiceTypesOptions" class="form-control">
                <option value=" ">-- Select Type --</option>
            </select>
            <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="control-label">City:</label>
            <select asp-items="Model.CityOptions" class="form-control" id="citySelect">
                <option value=" ">-- Select City --</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="SrDto.DistrictId" class="control-label">District:</label>
            <select asp-for="SrDto.DistrictId" asp-items="Model.DistrictOptions" class="form-control" id="districtSelect" disabled>
                <option value=" ">-- Select District --</option>
            </select>
            <span asp-validation-for="SrDto.DistrictId" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="SrDto.LocDescription" class="form-control" placeholder="Location Description" />
            <label asp-for="SrDto.LocDescription"></label>
            <span asp-validation-for="SrDto.LocDescription" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/dropdown.js"></script>
}