@page "{id}"
@model DPMOPS.Pages.Location.Cities.DeleteCityModel
@{
    ViewData["Title"] = "حذف المدينة";
}

<h2>تأكيد الحذف</h2>
<hr />
<div class="alert alert-danger">
   هل انت متأكد من حذف @Model.City.Name؟ كل المناطق المرتبطة بها ستحذف ايضا.
</div>

<form method="post">
    <input type="hidden" asp-for="cityId" value="@Model.City.CityId"/>
    <button type="submit" class="btn btn-danger">متأكد</button>
    <a asp-page="/Location/Cities/Index" class="btn btn-secondary">الإلغاء</a>
</form>