@page
@model DPMOPS.Pages.AdminHomeModel
@{
    ViewData["Title"] = "أدمن";
}

<div class="text-center">
    <h1 class="display-4">انت أدمن</h1>
    <hr />
    <a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/Location/Cities/Index">المدن</a>
    <br />
    <a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/Organization/Index">المؤسسات</a>
    <br />
    <a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/Accounts/Employees">الموظفين</a>
    <br />
    <a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/Accounts/Citizens">المواطنين</a>
    <br />
    <a class="btn btn-light mb-3 w-50 fw-bold" asp-page="/ServiceRequest/Index">الطلبات</a>
</div>
