@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "غير مسموح بالدخول";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">انت لا تملك الصلاحية للوصول الى هذه الصفحة</p>
</header>
