@page
@model DPMOPS.Pages.Employees.AddEmployeeModel
@{
    ViewData["Title"] = "Add Employee";
}

<div class="col-md-4">
    <form asp-page="AddServiceProvider">
        <div class="form-group mb-3">
            <label asp-for="EmployeeDto.AccountId" class="control-label"></label>
            <select asp-for="EmployeeDto.AccountId" asp-items="Model.CitizensOptions" class="form-control">
                <option value=" ">-- Select Citizen --</option>
            </select>
            <span asp-validation-for="EmployeeDto.AccountId" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
    </form>
</div>